<html Doctype>
    <head>
        <title>Layout Category Rules</title>
    </head>
    <body>
        <h1>Layout Category Rules</h1>

        <h2>Layout Rules: Current</h2>     
          <ol>
             <li><a href="http://oaa-accessibility.org/testsuites/test/83/">Test 83 - Layout table with no nesting</a></li>
             <li><a href="http://oaa-accessibility.org/testsuites/test/84/">Test 84 - Layout table with one level of nesting</a></li>
             <li><a href="http://oaa-accessibility.org/testsuites/test/85/">Test 85 - Layout table with two levels of nested layout tables</a></li>
             <li><a href="http://oaa-accessibility.org/testsuites/test/86/">Test 86 - Layout table with one level of nested data table</a></li>
             <li><a href="http://oaa-accessibility.org/testsuites/test/87/">Test 87 - Layout table with two levels of nested data tables</a></li>
             <li><a href="http://oaa-accessibility.org/testsuites/test//"></a></li>
             <li><a href="http://oaa-accessibility.org/testsuites/test//"></a></li>
             <li><a href="http://oaa-accessibility.org/testsuites/test//"></a></li>
          </ol>

        <h2>Layout Rules: NEW</h2>     
          <ol>
             <li><a></a></li>
             <li><a></a></li>
             <li><a></a></li>
             <li><a></a></li>
          </ol>

    </body>

</html>